<div class="container mx-auto p-8">
    <h2 class="text-3xl font-bold text-center mb-10">Encontre seu consórcio de moto ideal</h2>

    <div *ngIf="consorcios && consorcios.length ===0"
        class="p-4 bg-yellow-100 text-yellow-800 rounded-md text-center">
        Nenhum plano de consórcio disponível no momento.
    </div>

    <div *ngIf="consorcios && consorcios.length >0"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        
      <ng-container *ngFor="let consorcio of consorcios">
        <p-card header="{{ consorcio.moto }}" 
            styleClass="shadow-lg hover:shadow-xl transition duration-300 border-t-4 border-indigo-500">
            <div class="space-y-3">
                <p class="text-xl font-semibold text-gray-700">
                    {{ consorcio.valorTotal | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                </p>
                <p class="text-sm text-gray-500">
                    {{ consorcio.prazo }} meses
                </p>
                <p-tag
                    value="{{ consorcio.status }}"
                    [severity]="getStatusSeverity(consorcio.status)">
                </p-tag>
                <hr class="pt-2">
                <div class="flex justify-end scroll-pt-3.2">
                    <a href="" 
                    class="p-button p-button-sm p-button-raised p-button-indigo"
                    [routerLink]="['/consorcios', consorcio.id]"
                    pButton
                    label="Ver Detalhe"
                    iconPos="right"
                    icon="pi pi-arrow-right">
                    </a>
                </div>
            </div>
        </p-card>
      </ng-container>

    </div>

</div>

